<%- include('partials/header'); -%>
<div class="box" id="heading">
    <h1> <%= listObj.name %> </h1>
</div>

<div class="box">
  <%listObj.items.forEach(function(item){%>
    <form action="/delete" method="post">
    <div class="item">
        <input type="checkbox" name="checkedItem" value="<%=item._id%>" onchange="this.form.submit()">
        <p>
          <%=item.name%>
        </p>
    </div>
    </form>
  <%});%>
  <form class="item" action="/" method="post">
      <input type="text" name="item" placeholder="New Item"
      equired autofocus autocomplete="off">
      <button type="submit" name="listname" value=<%= listObj.name %>>+</button>
  </form>
</div>

<%- include('partials/footer'); -%>
